# Ignorar archivos de compilación de Docker
*.log
*.tmp
*.swp

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/

# Ignorar archivos de configuración de Jenkins
*.jenkins

# Ignorar imágenes locales de Docker (opcional)
*.tar
